@keyframes spring-y-enter {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  2.857142857142857% {
    transform: translate3d(0, 93.33333333333333%, 0);
  }
  5.714285714285714% {
    transform: translate3d(0, 82.88888888888889%, 0);
  }
  8.571428571428571% {
    transform: translate3d(0, 70.74814814814815%, 0);
  }
  11.428571428571429% {
    transform: translate3d(0, 58.342469135802475%, 0);
  }
  14.285714285714286% {
    transform: translate3d(0, 46.59604115226338%, 0);
  }
  17.142857142857142% {
    transform: translate3d(0, 36.050234019204396%, 0);
  }
  20% {
    transform: translate3d(0, 26.967873900320086%, 0);
  }
  22.857142857142858% {
    transform: translate3d(0, 19.41785423167201%, 0);
  }
  25.714285714285715% {
    transform: translate3d(0, 13.341651492750088%, 0);
  }
  28.571428571428573% {
    transform: translate3d(0, 8.603946325249552%, 0);
  }
  31.42857142857143% {
    transform: translate3d(0, 5.029803297482559%, 0);
  }
  34.285714285714285% {
    transform: translate3d(0, 2.4308591600646423%, 0);
  }
  37.142857142857146% {
    transform: translate3d(0, 0.6228039290289757%, 0);
  }
  40% {
    transform: translate3d(0, -0.5638179792288867%, 0);
  }
  42.85714285714286% {
    transform: translate3d(0, -1.2777573225102685%, 0);
  }
  45.714285714285715% {
    transform: translate3d(0, -1.6447350850878024%, 0);
  }
  48.57142857142857% {
    transform: translate3d(0, -1.767505329047708%, 0);
  }
  51.42857142857143% {
    transform: translate3d(0, -1.7274261282857992%, 0);
  }
  54.285714285714285% {
    transform: translate3d(0, -1.5868808925842046%, 0);
  }
  57.142857142857146% {
    transform: translate3d(0, -1.392076850467589%, 0);
  }
  60% {
    transform: translate3d(0, -1.1758958337625387%, 0);
  }
  62.85714285714286% {
    transform: translate3d(0, -0.9605881342651799%, 0);
  }
  65.71428571428572% {
    transform: translate3d(0, -0.7601873822991649%, 0);
  }
  68.57142857142857% {
    transform: translate3d(0, -0.5825877472341006%, 0);
  }
  71.42857142857143% {
    transform: translate3d(0, -0.4312687952105989%, 0);
  }
  74.28571428571429% {
    transform: translate3d(0, -0.30668220591500983%, 0);
  }
  77.14285714285714% {
    transform: translate3d(0, -0.20733188563346516%, 0);
  }
  80% {
    transform: translate3d(0, -0.13058789041294006%, 0);
  }
  82.85714285714286% {
    transform: translate3d(0, -0.07327750074573203%, 0);
  }
  85.71428571428572% {
    transform: translate3d(0, -0.03209575390678765%, 0);
  }
  88.57142857142857% {
    transform: translate3d(0, -0.0038742639816717883%, 0);
  }
  91.42857142857143% {
    transform: translate3d(0, 0.014257630569687763%, 0);
  }
  94.28571428571429% {
    transform: translate3d(0, 0.024790655080892066%, 0);
  }
  97.14285714285714% {
    transform: translate3d(0, 0.029808860265930548%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.anim-slide-y-enter,
.anim-slide-y-enter-active,
.anim-slide-y-enter-to,
.anim-slide-y-leave,
.anim-slide-y-leave-active,
.anim-slide-y-leave-to {
  transition: 0s !important;
  will-change: transform;
}
.anim-slide-y-enter {
  transform: translateY(100%) !important;
  visibility: hidden;
}
.anim-slide-y-enter-active {
  animation: spring-y-enter 0.583s linear 0s !important;
  transform-origin: center !important;
}
.anim-slide-y-enter-to {
  transform: translate3d(0, 0, 0) !important;
}
@keyframes ease-y-leave {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
}
.anim-slide-y-leave {
  transform: translateY(0) !important;
}
.anim-slide-y-leave-active {
  animation: ease-y-leave 0.2s ease 32ms !important;
  transform-origin: center !important;
}
.anim-slide-y-leave-to {
  transform: translate3d(0, 0, 0) !important;
}
@keyframes spring-scale-enter {
  0% {
    transform: scale3d(0.75, 0.75, 1);
    opacity: 0;
  }
  3.4482758620689653% {
    transform: scale3d(0.7673611111111112, 0.7673611111111112, 1);
    opacity: 0.06944444444444445;
  }
  6.896551724137931% {
    transform: scale3d(0.7950906635802469, 0.7950906635802469, 1);
    opacity: 0.18036265432098764;
  }
  10.344827586206897% {
    transform: scale3d(0.8278068469221537, 0.8278068469221537, 1);
    opacity: 0.3112273876886145;
  }
  13.793103448275861% {
    transform: scale3d(0.8615754936693863, 0.8615754936693863, 1);
    opacity: 0.4463019746775453;
  }
  17.241379310344826% {
    transform: scale3d(0.8937007377738341, 0.8937007377738341, 1);
    opacity: 0.5748029510953363;
  }
  20.689655172413794% {
    transform: scale3d(0.9224994603869496, 0.9224994603869496, 1);
    opacity: 0.6899978415477986;
  }
  24.137931034482758% {
    transform: scale3d(0.9470805907132663, 0.9470805907132663, 1);
    opacity: 0.7883223628530652;
  }
  27.586206896551722% {
    transform: scale3d(0.9671429699090561, 0.9671429699090561, 1);
    opacity: 0.8685718796362245;
  }
  31.034482758620687% {
    transform: scale3d(0.982799627573676, 0.982799627573676, 1);
    opacity: 0.931198510294704;
  }
  34.48275862068965% {
    transform: scale3d(0.9944318696574729, 0.9944318696574729, 1);
    opacity: 0.9777274786298915;
  }
  37.93103448275862% {
    transform: scale3d(1.0025733734315685, 1.0025733734315685, 1);
    opacity: 1.010293493726274;
  }
  41.37931034482759% {
    transform: scale3d(1.0078223361259955, 1.0078223361259955, 1);
    opacity: 1.0312893445039821;
  }
  44.82758620689655% {
    transform: scale3d(1.0107784268024194, 1.0107784268024194, 1);
    opacity: 1.0431137072096777;
  }
  48.275862068965516% {
    transform: scale3d(1.0120006520587563, 1.0120006520587563, 1);
    opacity: 1.048002608235025;
  }
  51.72413793103448% {
    transform: scale3d(1.0119820902811227, 1.0119820902811227, 1);
    opacity: 1.0479283611244907;
  }
  55.172413793103445% {
    transform: scale3d(1.0111376261598446, 1.0111376261598446, 1);
    opacity: 1.0445505046393784;
  }
  58.62068965517241% {
    transform: scale3d(1.0098012038178923, 1.0098012038178923, 1);
    opacity: 1.039204815271569;
  }
  62.068965517241374% {
    transform: scale3d(1.0082296164359037, 1.0082296164359037, 1);
    opacity: 1.0329184657436148;
  }
  65.51724137931033% {
    transform: scale3d(1.0066103903731958, 1.0066103903731958, 1);
    opacity: 1.026441561492783;
  }
  68.9655172413793% {
    transform: scale3d(1.005071851444363, 1.005071851444363, 1);
    opacity: 1.020287405777452;
  }
  72.41379310344827% {
    transform: scale3d(1.0036939469192827, 1.0036939469192827, 1);
    opacity: 1.0147757876771306;
  }
  75.86206896551724% {
    transform: scale3d(1.0025188198109456, 1.0025188198109456, 1);
    opacity: 1.0100752792437822;
  }
  79.3103448275862% {
    transform: scale3d(1.0015604836962941, 1.0015604836962941, 1);
    opacity: 1.006241934785176;
  }
  82.75862068965517% {
    transform: scale3d(1.0008132260298392, 1.0008132260298392, 1);
    opacity: 1.003252904119357;
  }
  86.20689655172413% {
    transform: scale3d(1.000258580222353, 1.000258580222353, 1);
    opacity: 1.0010343208894112;
  }
  89.6551724137931% {
    transform: scale3d(0.9998708593908096, 0.9998708593908096, 1);
    opacity: 0.9994834375632382;
  }
  93.10344827586206% {
    transform: scale3d(0.9996213469343078, 0.9996213469343078, 1);
    opacity: 0.9984853877372314;
  }
  96.55172413793103% {
    transform: scale3d(0.9994813006484242, 0.9994813006484242, 1);
    opacity: 0.9979252025936969;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
.anim-scale-enter,
.anim-scale-enter-active,
.anim-scale-enter-to,
.anim-scale-leave,
.anim-scale-leave-active,
.anim-scale-leave-to {
  transition: 0s !important;
  will-change: transform;
}
.anim-scale-enter {
  transform: scale(0.75) !important;
  visibility: hidden;
}
.anim-scale-enter-active {
  animation: spring-scale-enter 0.483s linear 0s !important;
  transform-origin: center !important;
}
.anim-scale-enter-to {
  transform: scale3d(1, 1, 1) !important;
}
@keyframes ease-scale-leave {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  to {
    transform: scale3d(0.75, 0.75, 1);
    opacity: 0;
  }
}
.anim-scale-leave {
  transform: scale3d(1, 1, 1) !important;
}
.anim-scale-leave-active {
  animation: ease-scale-leave 0.2s ease 32ms !important;
  transform-origin: center !important;
}
.anim-scale-leave-to {
  transform: scale3d(0.75, 0.75, 0.75) !important;
  opacity: 0 !important;
}
@keyframes pseudo-anim {
  to {
    opacity: 0;
  }
}
.pseudo-anim-leave {
  visibility: hidden;
}
.pseudo-anim-leave-active {
  animation: pseudo-anim 1ms linear 0s !important;
}
.pseudo-anim-leave-to {
  opacity: 0;
}

#ui-root.going-home {
  --transform-enter: translate3d(0, 0.5rem, 0);
  --transform-leave: translate3d(0, -0.375rem, 0);
}
#ui-root:not(.going-home) {
  --transform-enter: translate3d(0, -0.5rem, 0);
  --transform-leave: translate3d(0, 0.375rem, 0);
}
#ui-root.checking-out {
  --transform-enter: translate3d(0, 20px, 0);
  --transform-leave: translate3d(0, -10px, 0);
}
#ui-root.leaving-checkout {
  --transform-enter: translate3d(0, -20px, 0);
  --transform-leave: translate3d(0, 10px, 0);
}

#ui-root.no-page-anim #app-main {
  animation: none;
}
.page-transition-enter-active,
.page-transition-enter-to {
  transition-property: opacity, transform;
  transition-duration: var(--pt-duration, 150ms);
  transition-timing-function: var(--circOut);
}
.page-transition-leave-active,
.page-transition-leave-to {
  transition-property: opacity;
  transition-duration: 20ms;
  transition-timing-function: linear;
}
.page-transition-enter,
.page-transition-enter-active,
.page-transition-enter-to,
.page-transition-leave,
.page-transition-leave-active,
.page-transition-leave-to {
  will-change: opacity, transform;
  transform-origin: top;
}
.page-transition-enter,
.page-transition-leave,
.page-transition-leave-active {
  opacity: 0;
}
.page-transition-leave-to {
  visibility: hidden;
}
.page-transition-leave-active {
  transition-duration: 0;
}
.page-transition-leave {
  visibility: hidden;
}
.will-change-scroll {
  will-change: contents, scroll-position !important;
}
.will-change-content {
  will-change: contents !important;
}
.will-change-transform {
  will-change: transform !important;
}
.will-change-opacity {
  will-change: opacity !important;
}
@keyframes heartbeat {
  0% {
    transform: scale(0.925);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(1.075);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.975);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  55% {
    transform: scale(0.9925);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.heart-beat {
  --first-scale: 0.975;
  --second-scale: 0.95;
  --third-scale: 0.925;
  animation: heartbeat 1.5s ease-in-out both;
}
@-webkit-keyframes bounce-top {
  0% {
    transform: translateZ(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: var(--bounce-opacity);
  }
  10% {
    transform: translate3d(0, -6px, 0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: var(--bounce-opacity);
  }
  24% {
    opacity: var(--bounce-opacity);
  }
  40% {
    transform: translate3d(0, -3px, 0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    transform: translate3d(0, -1.5px, 0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    transform: translate3d(0, -0.75px, 0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    transform: translate3d(0, -0.5px, 0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateZ(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  to {
    transform: translateZ(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: var(--bounce-opacity);
  }
}
@keyframes bounce-top {
  0% {
    transform: translateZ(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: var(--bounce-opacity);
  }
  10% {
    transform: translate3d(0, -6px, 0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: var(--bounce-opacity);
  }
  24% {
    opacity: var(--bounce-opacity);
  }
  40% {
    transform: translate3d(0, -3px, 0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    transform: translate3d(0, -1.5px, 0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    transform: translate3d(0, -0.75px, 0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    transform: translate3d(0, -0.5px, 0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateZ(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  to {
    transform: translateZ(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: var(--bounce-opacity);
  }
}
.bounce-top {
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
  --bounce-opacity: 1;
}
@-webkit-keyframes vibrate {
  0% {
    transform: translateZ(0);
  }
  10% {
    transform: translate3d(-2px, 0, 0);
  }
  20% {
    transform: translate3d(2px, 0, 0);
  }
  30% {
    transform: translate3d(-2px, 0, 0);
  }
  40% {
    transform: translate3d(2px, 0, 0);
  }
  50% {
    transform: translate3d(-2px, 0, 0);
  }
  60% {
    transform: translate3d(2px, 0, 0);
  }
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  80% {
    transform: translate3d(-2px, 0, 0);
  }
  90% {
    transform: translate3d(2px, 0, 0);
  }
  to {
    transform: translateZ(0);
  }
}
@keyframes vibrate {
  0% {
    transform: translateZ(0);
  }
  10% {
    transform: translate3d(-2px, 0, 0);
  }
  20% {
    transform: translate3d(2px, 0, 0);
  }
  30% {
    transform: translate3d(-2px, 0, 0);
  }
  40% {
    transform: translate3d(2px, 0, 0);
  }
  50% {
    transform: translate3d(-2px, 0, 0);
  }
  60% {
    transform: translate3d(2px, 0, 0);
  }
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  80% {
    transform: translate3d(-2px, 0, 0);
  }
  90% {
    transform: translate3d(2px, 0, 0);
  }
  to {
    transform: translateZ(0);
  }
}
.vibrate {
  -webkit-animation: vibrate 0.55s linear both;
  animation: vibrate 0.55s linear both;
}
.pause-animation {
  animation-play-state: paused;
}

@keyframes animating-skeleton {
  0% {
    transform: translate3d(-225%, 0, 0);
  }
  to {
    transform: translate3d(125%, 0, 0);
  }
}

.fade-transition-enter,
.fade-transition-leave-to {
  opacity: 0 !important;
}

.fade-transition-enter-active,
.fade-transition-leave-active {
  transition-duration: var(--fade-duration, 200ms) !important;
  transition-timing-function: var(--fade-ease, ease-in-out) !important;
}

.fade-transition-enter,
.fade-transition-leave,
.fade-transition-enter-active,
.fade-transition-leave-active,
.fade-transition-enter-to,
.fade-transition-leave-to {
  will-change: opacity !important;
}
