/* #854d27,
#dd7230,
#f4c95d,
#e7e393,
#04030f; */
/* 
@font-face {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/css/hk-grotesk/WEB/HKGrotesk-Medium.eot);
  src: url(/css/hk-grotesk/WEB/HKGrotesk-Medium.eot?#iefix)
      format('embedded-opentype'),
    url(/css/hk-grotesk/WEB/HKGrotesk-Medium.woff) format('woff'),
    url(/css/hk-grotesk/WEB/HKGrotesk-Medium.ttf) format('truetype'),
    url(/css/hk-grotesk/WEB/HKGrotesk-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/css/hk-grotesk/WEB/HKGrotesk-Bold.eot);
  src: url(/css/hk-grotesk/WEB/HKGrotesk-Bold.eot?#iefix)
      format('embedded-opentype'),
    url(/css/hk-grotesk/WEB/HKGrotesk-Bold.woff) format('woff'),
    url(/css/hk-grotesk/WEB/HKGrotesk-Bold.ttf) format('truetype'),
    url(/css/hk-grotesk/WEB/HKGrotesk-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'HK Grotesk';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/css/hk-grotesk/WEB/HKGrotesk-MediumItalic.eot);
  src: url(/css/hk-grotesk/WEB/HKGrotesk-MediumItalic.eot?#iefix)
      format('embedded-opentype'),
    url(/css/hk-grotesk/WEB/HKGrotesk-MediumItalic.woff) format('woff'),
    url(/css/hk-grotesk/WEB/HKGrotesk-MediumItalic.ttf) format('truetype'),
    url(/css/hk-grotesk/WEB/HKGrotesk-MediumItalic.woff2) format('woff2');
}

@font-face {
  font-family: 'HK Grotesk';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/css/hk-grotesk/WEB/HKGrotesk-BoldItalic.eot);
  src: url(/css/hk-grotesk/WEB/HKGrotesk-BoldItalic.eot?#iefix)
      format('embedded-opentype'),
    url(/css/hk-grotesk/WEB/HKGrotesk-BoldItalic.woff) format('woff'),
    url(/css/hk-grotesk/WEB/HKGrotesk-BoldItalic.ttf) format('truetype'),
    url(/css/hk-grotesk/WEB/HKGrotesk-BoldItalic.woff2) format('woff2');
} */

:root.light-theme {
  --theme-surface: rgb(230, 230, 230);
  --theme-inner-surface: #c8c8c8;
  --theme-surface-text: var(--body-c);
  --theme-primary: rgb(250 250 250);
  --theme-banner: #fff;
  --theme-banner-invert: #222;
  --theme-primary-text: var(--body-c);
  --theme-surface-invert: #070707;
  --theme-surface-text-invert: hsla(0, 0%, 100%, 0.9);
  --theme-primary-invert: #181818;
  --theme-primary-text-invert: hsla(0, 0%, 100%, 0.9);
  --warning: #ffda0a;
  --error: #cb3434;
  --success: #2a8f2f;
  --info: #00466e;
  --og-info: #00466e;
  --tertiary: #c00303;
  --secondary: #71bbdb;
  --primary: #0958a1;
  --saturated-primary: hsl(209, 89%, 13%);
  --saturated-primary-text: #fff;
  --external-link: #4a148c;
  --divide-color: rgba(0, 0, 0, 0.275);
  --scrollbar-background: #616161;
  --scrollbar-background-hover: #424242;
  --scrollbar-track: #f5f5f5;
  --blur-header: hsla(0, 0%, 100%, 0.30196);
  --blur-banner: hsla(0, 0%, 100%, 0.302);
  --faded-theme-primary: hsla(0, 0%, 100%, 0);
  --faded-theme-surface: hsla(0, 0%, 94.1%, 0);
  --faded-theme-banner: hsla(0, 0%, 100%, 0);
  --hidden-text-background: linear-gradient(
    90deg,
    var(--faded-theme-primary) 85%,
    var(var(--theme-primary)) 90%
  );
  --hint-color: var(--info);
  --disabled: #999;
  --title-c: rgb(0, 0, 0, 0.95);
  --body-c: rgba(0, 0, 0, 0.9);
  --subtitle-c: rgba(37, 37, 37, 0.825);
  --caption-c: rgba(41, 41, 41, 0.775);
  --disabled-c: rgba(44, 44, 44, 0.6);

  --title-c-invert: rgb(255, 255, 255);
  --body-c-invert: rgba(255, 255, 255, 0.85);
  --subtitle-c-invert: rgba(255, 255, 255, 0.75);
  --caption-c-invert: rgba(255, 255, 255, 0.65);
  --disabled-c-invert: rgba(255, 255, 255, 0.5);

  --disabled-invert: #333;
  --t-title: 1;
  --t-subtitle: 0.85;
  --t-body: 0.925;
  --t-caption: 0.8;
  --t-disabled: 0.6;
  --raise-normal: 0px 1px 4px -1px rgba(0, 0, 0, 0.1),
    0.5px 2px 15px 0px rgba(0, 0, 0, 0.051),
    1px 3px 45px 1px rgba(0, 0, 0, 0.092);
  --raise-zero: 0px 0px 0px 0px rgba(0, 0, 0, 0.05),
    0px 0.5px 7px 0px rgba(0, 0, 0, 0.025),
    0.5px 1px 15px 0.5px rgba(0, 0, 0, 0.015);
  --raise-light: 0px 0px 1px -1px rgba(0, 0, 0, 0.1),
    0px 1px 15px 0px rgba(0, 0, 0, 0.051), 1px 2px 25px 1px rgba(0, 0, 0, 0.03);
  --raise-dark: 0px 1px 4px 0.25px rgb(0 0 0/25%),
    0px 2px 16px 1px rgb(0 0 0/15%), 1px 4px 64px 2px rgb(0 0 0/10%);
  --raise-darker: 0px 0px 0.5px -1px rgb(0 0 0/50%),
    0px 0px 12px -1px rgb(0 0 0/20%), 0px 2px 24px -1px rgb(0 0 0/15%),
    0px 2px 48px -1px rgb(0 0 0/10%);
  --sheet-header-color: #d2d2d2;
  --ds-light: drop-shadow(0px 4px 8px rgba(17, 16, 16, 0.2));
  --ds-lighter: drop-shadow(0px 0px 1px rgba(17, 16, 16, 0.2))
    drop-shadow(0px 3px 6px rgba(17, 16, 16, 0.05));
}

:root.dark-theme,
:root.light-theme {
  --v-msg-color: var(--error);
}

:root.dark-theme {
  --theme-surface: #000;
  --theme-inner-surface: rgb(15, 15, 15);
  --theme-surface-text: var(--body-c);
  --theme-primary: #181818;
  --theme-banner: #222;
  --theme-banner-invert: #fff;
  --theme-surface-text: var(--body-c);
  --theme-surface-invert: #fff;
  --theme-surface-text-invert: rgba(0, 0, 0, 0.87059);
  --theme-primary-invert: #ededed;
  --theme-primary-text-invert: rgba(0, 0, 0, 0.87059);
  --warning: #f5c117;
  --error: #e45e5e;
  --error-text: #e98f8f;
  --success: #66bb6a;
  --info: #026fb3;
  --og-info: #026fb3;
  --tertiary: #e21313;
  --secondary: hsl(273, 71%, 47%);
  --primary: hsl(61, 71%, 47%);
  --primary-text: var(--body-c);
  --saturated-primary: rgb(116, 118, 20);
  --saturated-primary-text: #fff;

  --external-link: #ffb300;
  --divide-color: hsla(0, 0%, 73%, 0.2);
  --scrollbar-background: #616161;
  --scrollbar-background-hover: #9e9e9e;
  --scrollbar-track: rgba(34, 34, 34, 0.74902);
  --blur-header: rgba(0, 0, 0, 0.75);
  /* --blur-banner: rgba(34, 34, 34, 0.51373); */
  --blur-banner: rgba(54, 54, 54, 0.51373);
  --faded-theme-primary: #18181800;
  --faded-theme-surface: transparent;
  --faded-theme-banner: rgba(34, 34, 34, 0);
  --hint-color: var(--success);
  --disabled: #333;
  --disabled-invert: #999;
  --title-c: rgb(255, 255, 255);
  --body-c: rgba(255, 255, 255, 0.85);
  --subtitle-c: rgba(255, 255, 255, 0.75);
  --caption-c: rgba(255, 255, 255, 0.65);
  --disabled-c: rgba(255, 255, 255, 0.5);

  --title-c-invert: rgb(0, 0, 0, 0.95);
  --body-c-invert: rgba(0, 0, 0, 0.9);
  --subtitle-c-invert: rgba(37, 37, 37, 0.825);
  --caption-c-invert: rgba(41, 41, 41, 0.775);
  --disabled-c-invert: rgba(44, 44, 44, 0.6);

  --t-title: 1;
  --t-subtitle: 0.825;
  --t-body: 0.95;
  --t-caption: 0.75;
  --t-disabled: 0.65;
  --raise-normal: 1px 2px 6px -1px rgba(0, 0, 0, 0.1),
    1.5px 3px 15px 0px rgba(0, 0, 0, 0.051),
    2px 4px 45px 1px rgba(0, 0, 0, 0.092);

  --raise-zero: 0px 0px 0px 0px rgba(0, 0, 0, 0.045),
    0px 0.5px 5px 0px rgba(0, 0, 0, 0.025),
    0.25px 1px 15px 0.5px rgba(0, 0, 0, 0.0152);

  --raise-light: 0px 0px 1px -1px rgba(0, 0, 0, 0.075),
    0px 1px 10px 0px rgba(0, 0, 0, 0.051),
    0.5px 1.5px 25px 1px rgba(0, 0, 0, 0.035);
  --raise-dark: 0px 0px 4px -1px rgb(0 0 0/25%), 0px 2px 16px 1px rgb(0 0 0/15%),
    1px 4px 64px 2px rgb(0 0 0/10%);
  --raise-darker: 0px 0px 4px 0.25px rgb(0 0 0/25%),
    0px 2px 16px 1px rgb(0 0 0/15%), 1px 4px 64px 2px rgb(0 0 0/10%);
  --sheet-header-color: #272727;
  --ds-light: drop-shadow(0px 4px 8px rgba(22, 22, 22, 0.3));
  --ds-lighter: drop-shadow(0px 2px 4px rgba(22, 22, 22, 0.1));
}

html {
  /* color-scheme: light dark; */
  background-color: var(--theme-surface);
}

html.dark-theme {
  color-scheme: dark;
}
html.light-theme {
  color-scheme: light;
}

@media screen and (min-width: 959px) {
  html {
    background-color: #000;
  }
}

.theme-surface {
  background-color: var(--theme-surface);
  color: var(--theme-surface-text);
}

.theme-surface {
  border-color: var(--theme-surface);
  caret-color: var(--theme-surface-text);
}

.theme-primary {
  background-color: var(--theme-primary);
  border-color: var(--theme-primary);
}

.theme-banner,
.theme-primary {
  color: var(--theme-primary-text);
  caret-color: var(--theme-primary-text);
}

.theme-banner {
  background-color: var(--theme-banner);
  border-color: var(--theme-banner);
}

.theme-surface-invert {
  background-color: var(--theme-surface-invert);
  border-color: var(--theme-surface-invert);
  color: var(--theme-surface-text-invert);
  caret-color: var(--theme-surface-text-invert);
}

.theme-primary-invert {
  background-color: var(--theme-primary-invert);
  border-color: var(--theme-primary-invert);
  color: var(--theme-primary-text-invert);
  caret-color: var(--theme-primary-text-invert);
}

.warning {
  background-color: var(--warning);
  border-color: var(--warning);
  color: #000;
  caret-color: #000;
}

.warning-text {
  color: var(--warning);
  caret-color: var(--warning);
}

.light-theme .error {
  --error-color: #fff;
}

.error {
  background-color: var(--error);
  border-color: var(--error);
  color: var(--error-color, var(--theme-surface));
  caret-color: var(--error-color, var(--theme-surface));
}

.error-text {
  color: var(--error);
  caret-color: var(--error);
}

.success {
  background-color: var(--success);
  border-color: var(--success);
  color: var(--theme-surface);
  caret-color: var(--theme-surface);
}

.success-text {
  color: var(--success);
  caret-color: var(--success);
}

.info {
  background-color: var(--info);
  background-color: var(--info);
  border-color: var(--info);
  color: #fff;
  caret-color: #fff;
}

.info-text {
  color: var(--info);
  color: var(--info);
  caret-color: var(--info);
  caret-color: var(--info);
}

.og-info {
  background-color: var(--og-info);
  background-color: var(--og-info);
  border-color: var(--og-info);
  color: #fff;
  caret-color: #fff;
}

.og-info-text {
  color: var(--og-info);
  color: var(--og-info);
  caret-color: var(--og-info);
  caret-color: var(--og-info);
}

.tertiary {
  background-color: var(--tertiary);
  border-color: var(--tertiary);
  color: #fff;
  caret-color: #fff;
}

.tertiary-text {
  color: var(--tertiary);
  caret-color: var(--tertiary);
}

.secondary {
  background-color: var(--primary);
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--theme-surface);
  caret-color: var(--theme-surface);
}

.secondary-text {
  color: var(--primary);
  color: var(--secondary);
  caret-color: var(--primary);
  caret-color: var(--secondary);
}

.primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: #f5f5f5;
  caret-color: #f5f5f5;
}

.dark-theme .primary {
  color: #000;
  caret-color: #000;
}

.primary-text {
  color: var(--primary);
  caret-color: var(--primary);
}

.saturated-primary-text {
  color: var(--saturated-primary);
  caret-color: var(--saturated-primary);
}

.saturated-primary {
  background-color: var(--saturated-primary);
  border-color: var(--saturated-primary);
  color: var(--saturated-primary-text);
  caret-color: var(--saturated-primary-text);
}

.external-link {
  background-color: var(--external-link);
  border-color: var(--external-link);
  color: var(--theme-surface);
  caret-color: var(--theme-surface);
}

.external-link-text {
  color: var(--external-link);
  caret-color: var(--external-link);
}

.white {
  background-color: #fff;
  border-color: #fff;
  color: #000;
  caret-color: #000;
}

.black,
.white-text {
  color: #fff;
  caret-color: #fff;
}

.black {
  background-color: #000;
  border-color: #000;
}

.black-text {
  color: #000;
  caret-color: #000;
}

.disabled-color {
  background-color: var(--disabled);
  border-color: var(--disabled);
  color: var(--theme-surface);
  caret-color: var(--theme-surface);
}

.disabled-color-text {
  color: var(--disabled);
  caret-color: var(--disabled);
}

:root {
  --title-c-d: rgb(0, 0, 0);
  --body-c-d: rgba(0, 0, 0, 0.925);
  --subtitle-c-d: rgba(37, 37, 37, 0.85);
  --caption-c-d: rgba(41, 41, 41, 0.8);
  --disabled-c-d: rgba(44, 44, 44, 0.6);

  --title-c-l: rgb(255, 255, 255);
  --body-c-l: rgba(255, 255, 255, 0.85);
  --subtitle-c-l: rgba(255, 255, 255, 0.75);
  --caption-c-l: rgba(255, 255, 255, 0.65);
  --disabled-c-l: rgba(255, 255, 255, 0.5);

  --rounded-sm: 4px;
  --rounded: 6px;
  --rounded-lg: 8px;
  --pill: 1.6rem;
  --cubic: var(--cubicOut);

  /* --default-font-family: -apple-system, 'Segoe UI', 'Noto Sans', sans-serif; */
  /* --default-font-family: 'Bitter', sans-serif; */

  --default-font-family: 'Work sans', sans-serif;

  /* --default-font-family: 'Montserrat', sans-serif; */

  /* --default-font-family: 'Alegreya sans', sans-serif; */

  /* --default-font-family: 'Noto sans display', sans-serif; */

  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --monospace: var(--font-family-monospace);
  --ui-divide: 0.5px solid var(--divide-color);
  --backdrop-filter: blur(6rem) saturate(0.25);
  --active-scale: 0.975, 0.975, 1;
  --t-active-scale: scale3d(var(--active-scale));
  --droid-color: #a4c639;
  --sheet-header-height: 50px;
  --header-backdrop-filter: saturate(150%) blur(3rem);
  --banner-backdrop-filter: saturate(100%) blur(4rem);
  --default-scroll-bar-size: 8px;
  --scrollbar-size: var(--default-scroll-bar-size);
  --divide-offset: 3rem;
  --img-scale: scale3d(1.025, 1.025, 1);
}

html.overlay-active {
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  max-height: 100vh;
  max-height: -webkit-fill-available;
  max-height: -moz-available;
  max-height: stretch;
  overflow: hidden;
  /* padding-right: 0; */
  /* padding-right: var(--padding-right); */
}

.overflow-hidden {
  overflow: hidden;
}

#ui-root {
  --app-bars-height: calc(var(--nav-bar-height) + var(--header-height));
  --full-dialog: calc(100% - var(--header-height) * 0.5);
  position: relative;
  isolation: isolate;
  --sheet-header-height: 48px;
}

#ui-root.br-sm.or-la,
#ui-root.br-xs.or-la,
#ui-root.br-xxs.or-la {
  --full-dialog: 100%;
}

#ui-root.md-up {
  --sheet-header-height: 58px;
}

#ui-root.br-xl {
  --sheet-header-height: 68px;
}

/* @media (min-width: 960px) {
  #ui-root {
    --nav-bar-height: 64px;
    --header-height: 56px;
  }
} */

/* @media (max-width: 960px) and (orientation: landscape) {
  #ui-root {
    --header-height: 0px;
  }
} */

#ui-root.hide-bottom-bar {
  --nav-bar-height: 0px !important;
}

[hidden] {
  display: inline;
  display: initial;
}

button {
  border-radius: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  transition-timing-function: ease;
  outline-width: 0.5px;
  outline-color: var(--divide-color);
  width: auto;
  width: var(--_size, initial);
  height: auto;
  height: var(--_size, initial);
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-track {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 8px;
  width: var(--scrollbar-size);
  height: 8px;
  height: var(--scrollbar-size);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border-radius: calc(var(--scrollbar-size) / 2);
  background-color: #616161;
  background-color: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb:hover {
  --scrollbar-size: var(--default-scroll-bar-size);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-background-hover);
}

.snap-scrollbar {
  --scrollbar-size: 4px;
}

.root-logo {
  color: var(--primary);
}

#ui-root .underline-text {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

.no-transition {
  transition: 0s !important;
}

a:not(.ui-btn),
a:not(.ui-btn):active,
a:not(.ui-btn):focus,
a:not(.ui-btn):visited {
  color: var(--theme-surface-text);
}

ol,
ul {
  list-style-type: none;
}

html,
html :not(input):not(.selectable):not(textarea) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.selectable {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
  -webkit-user-drag: initial;
  cursor: text;
}

.dark-theme .title-deco {
  --t-disabled: 0.55 !important;
}

#ui-root .title-deco {
  --t-disabled: 0.65;
  margin-right: 0.5rem;
  opacity: var(--t-disabled);
  position: relative;
  --bounce-opacity: var(--t-disabled);
  display: none !important;
}

.__section-title {
  margin: 2.5rem 0 0.5rem;
  padding: 0 1.5rem;
  font-size: 1.825rem;
  opacity: var(--t-title);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.__section-title:active .title-deco {
  -webkit-animation: bounce-top 1.5s 0.5s;
  animation: bounce-top 1.5s 0.5s;
}

@media (hover: hover) and (pointer: fine) {
  .__section-title:hover .title-deco {
    -webkit-animation: bounce-top 1.5s 1.75s;
    animation: bounce-top 1.5s 1.75s;
  }
}

html {
  font-family: var(--default-font-family);
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  --padding-right: 0px;
  overflow-x: hidden;
  height: stretch;
}

#nina[data-parallax-page] {
  height: var(--window-height);
  max-height: var(--window-height);
  overflow: hidden;
  position: fixed;
  top: 0;
}

#nina[data-parallax-page] .app-main {
  overflow: hidden !important;
  height: var(--window-height) !important;
  max-height: var(--window-height) !important;
}

.transparent {
  background-color: transparent;
  color: var(--theme-surface-text);
}

.transparent-text {
  color: transparent;
}

@media (max-width: 612px) {
  html {
    font-size: 14.5px;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 18px;
  }
}

input,
select,
textarea {
  font-size: 16px;
}

span[tabindex='0']:empty {
  position: absolute;
  top: 0;
  left: 0;
}

#ui-root.hide-x-overflow {
  overflow-x: hidden;
}

#app-overlays {
  position: relative;
  z-index: 14000;
  height: 0;
  width: 0;
  isolation: isolate;
  overflow: hidden;
}

.fill-after-before:after,
.fill-after-before:before,
.fill-after:after,
.fill-before-after:after,
.fill-before-after:before,
.fill-before:before,
.pseudo {
  content: '';
  position: absolute;
  --_size: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  pointer-events: none;
}

.section-divide-before:not(:last-child)::before,
.section-divide-after:not(:last-child)::after,
.divide-before:before,
.section-divide-top-before:not(:first-child)::before,
.section-divide-top-after:not(:first-child)::after,
.divide-top-before:before {
  width: calc(100% - var(--divide-offset));
  left: calc(var(--divide-offset) * 0.5);
  opacity: var(--divide-opacity, 1);
}

.section-divide-before:not(:last-child)::before,
.section-divide-after:not(:last-child)::after,
.divide-before:before {
  border-bottom: var(--ui-divide);
}

.section-divide-top-before:not(:first-child)::before,
.section-divide-top-after:not(:first-child)::after,
.divide-top-before:before {
  border-top: var(--ui-divide);
}

[role='button'],
[role='link'] {
  cursor: pointer;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
  z-index: -1 !important;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.gradient-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-blend-mode: normal;
}

img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.ui-skeleton {
  cursor: progress !important;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 100%;
  display: inline-block;
  color: transparent !important;
  height: var(--sk-height);
  width: var(--sk-width);
  border-radius: var(--sk-border-radius);
}

.ui-skeleton.__animating::after {
  animation-name: animating-skeleton;
}

.dark-theme .ui-skeleton:not(.static):after {
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.1),
    hsla(0, 0%, 100%, 0)
  );
}

.light-theme .ui-skeleton:not(.static):after {
  background-image: linear-gradient(
    90deg,
    rgba(50, 50, 50, 0),
    rgba(50, 50, 50, 0.05),
    rgba(50, 50, 50, 0)
  );
}

.ui-skeleton.static:after {
  background: currentColor;
  opacity: 0.05;
}

.ui-skeleton:after,
.ui-skeleton:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  pointer-events: none;
}

.ui-skeleton:not(.static):after {
  animation-timing-function: var(--circOut);
  /* animation-timing-function: linear; */
  animation-name: animating-skeleton;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
}

.light-theme .ui-skeleton:before {
  background-color: #000;
}

.dark-theme .ui-skeleton:before {
  background-color: #fff;
}

.sk-heading {
  --sk-height: 12px;
  --sk-width: 150px;
  --sk-border-radius: 6px;
  margin: 8px 0;
}

.sk-heading:before {
  opacity: 0.3;
}

.sk-body {
  --sk-height: 10px;
  --sk-width: 190px;
  --sk-border-radius: 5px;
}

.sk-body:before {
  opacity: 0.15;
}

.sk-caption {
  --sk-height: 6.5px;
  --sk-width: 220px;
  --sk-border-radius: 4px;
}

.sk-caption:before {
  opacity: 0.15;
}

.sk-image:before {
  opacity: 0.1;
}

/* .sk-image:after {
  border-radius: inherit;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border: var(--ui-divide);
  background: 0 0 !important;
} */

input {
  caret-color: currentColor;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  height: 0;
  width: 0;
  display: none;
}

.disabled,
.disabled *,
.loading,
.loading *,
:disabled,
:disabled *,
[disabled],
[disabled] * {
  pointer-events: none;
  touch-action: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-clamp-1,
.line-clamp-2,
.line-clamp-3 {
  display: -webkit-box !important;
  display: -moz-box !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-bottom: 2px;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
}

/* .__mask {
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
} 
.ui-focusable {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  outline: 0;
  isolation: isolate;
}

.ui-focusable:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: '';
  opacity: 0;
  transition-duration: 0s;
  background-color: currentColor;
  color: inherit;
  border-radius: inherit;
  pointer-events: none;
}

@media (hover: hover) and (pointer: fine) {
  .ui-focusable.__hover:before,
  .ui-focusable:hover:before {
    opacity: 0.15 !important;
  }

  .ui-focusable:focus:before,
  .ui-focusable[focus-within]:before {
    opacity: 0.2 !important;
  }

  .ui-focusable:focus-within:before,
  .ui-focusable:focus:before {
    opacity: 0.2 !important;
  }
}

@media (hover: none) and (pointer: coarse) {
  .ui-focusable:before {
    transition: opacity 0.5s;
  }

  .ui-focusable:not([data-is-ui-ripple]):active:before {
    opacity: 0.175 !important;
  }
} */

mark {
  display: inline;
  background-color: var(--amber-700);
  color: #000;
  pointer-events: none;
}

.h1,
h1 {
  font-size: 2.25rem;
}

.h2,
h2 {
  font-size: 1.75rem;
}

.h3,
h3 {
  font-size: 1.5rem;
}

.h4,
h4 {
  font-size: 1.25rem;
}

.h5,
h5 {
  font-size: 1rem;
}

.h6,
h6 {
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
  line-height: 1.2;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: searchfield;
}

.raise-zero {
  box-shadow: var(--raise-zero);
}

.raise-light {
  box-shadow: var(--raise-light);
}

.raise-normal {
  box-shadow: var(--raise-normal);
}

.raise-dark {
  box-shadow: var(--raise-dark);
}

.raise-darker {
  box-shadow: var(--raise-darker);
}

.__flat {
  box-shadow: none;
}

.invisible {
  visibility: hidden;
}

.material-design-icon {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  opacity: 0.8;
}

.rounded-sm {
  border-radius: 4px;
  border-radius: var(--rounded-sm);
}

.rounded,
.rounded-md {
  border-radius: 8px;
  border-radius: var(--rounded);
}

.rounded-lg {
  border-radius: 10px;
  border-radius: var(--rounded-lg);
}

.rounded-left,
.rounded-top,
.rounded-top-left {
  border-top-left-radius: 8px;
  border-top-left-radius: var(--rounded);
}

.rounded-bottom,
.rounded-bottom-left,
.rounded-left {
  border-bottom-left-radius: 8px;
  border-bottom-left-radius: var(--rounded);
}

.rounded-right,
.rounded-top,
.rounded-top-right {
  border-top-right-radius: 8px;
  border-top-right-radius: var(--rounded);
}

.rounded-bottom,
.rounded-bottom-right,
.rounded-right {
  border-bottom-right-radius: 8px;
  border-bottom-right-radius: var(--rounded);
}

.pill {
  border-radius: 1.6rem;
  border-radius: var(--pill);
}

.pill-left,
.pill-top,
.pill-top-left {
  border-top-left-radius: 1.6rem;
  border-top-left-radius: var(--pill);
}

.pill-bottom,
.pill-bottom-left,
.pill-left {
  border-bottom-left-radius: 1.6rem;
  border-bottom-left-radius: var(--pill);
}

.pill-right,
.pill-top,
.pill-top-right {
  border-top-right-radius: 1.6rem;
  border-top-right-radius: var(--pill);
}

.pill-bottom,
.pill-bottom-right,
.pill-right {
  border-bottom-right-radius: 1.6rem;
  border-bottom-right-radius: var(--pill);
}

.circle {
  border-radius: 50%;
}

@supports (touch-action: manipulation) {
  .ui-btn {
    touch-action: manipulation;
  }

  #ui-root.app-loading,
  .click-persistent,
  .root[data-spp-id].__loading {
    touch-action: none;
  }

  input[type='range']::-webkit-slider-thumb {
    touch-action: pan-x, cross-slide-x;
  }
}

a {
  text-decoration: initial;
}

.hidden {
  visibility: hidden;
  z-index: -1;
}

#ui-root .d-none {
  display: none !important;
}
.pointer-disabled {
  pointer-events: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:active {
  text-decoration: underline !important;
}

@keyframes fade-appear {
  from {
    opacity: var(--appear-from, 0);
  }
  to {
    opacity: var(--appear-to);
  }
}
.fade-appear {
  animation: fade-appear var(--appear-duration, 150ms)
    var(--appear-ease, linear);
  --appear-to: 1;
}

@keyframes fade-slide-x-appear {
  from {
    transform: translate3d(var(--slide-x, -10px), 0, 0);
    opacity: var(--appear-from, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: var(--appear-to, 1);
  }
}
.fade-slide-x-appear {
  animation: fade-slide-x-appear var(--appear-duration, 500ms)
    var(--appear-ease, linear);
}
@keyframes fade-slide-x-leave {
  from {
    transform: translate3d(0, 0, 0);
    opacity: var(--appear-from, 1);
  }
  to {
    transform: translate3d(var(--slide-x-leave, 10px), 0, 0);
    opacity: var(--appear-to, 0);
  }
}
.fade-slide-x-leave {
  animation: fade-slide-x-leave var(--leave-duration, 200ms)
    var(--leave-ease, linear);
}
@keyframes fade-slide-y-leave {
  from {
    transform: translate3d(0, 0, 0);
    opacity: var(--appear-from, 1);
  }
  to {
    transform: translate3d(0, var(--slide-y-leave, 10px), 0);
    opacity: var(--appear-to, 0);
  }
}
.fade-slide-y-leave {
  animation: fade-slide-y-leave var(--leave-duration, 200ms)
    var(--leave-ease, linear);
}
@keyframes fade-slide-y-appear {
  from {
    transform: translate3d(0, var(--slide-y, -10px), 0);
    opacity: var(--appear-from, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: var(--appear-to, 1);
  }
}
.fade-slide-y-appear {
  animation: fade-slide-y-appear var(--appear-duration, 500ms)
    var(--appear-ease, linear);
}
@keyframes fade-scale-appear {
  from {
    transform: scale3d(
      var(--scale-x, var(--scale, 0.975)),
      var(--scale-y, var(--scale, 0.975)),
      1
    );
    opacity: var(--appear-from, 0);
  }
  to {
    transform: scale3d(1, 1, 1);
    opacity: var(--appear-to, 1);
  }
}
.fade-scale-appear {
  animation: fade-scale-appear var(--appear-duration, 500ms)
    var(--appear-ease, linear);
  transform-origin: var(--appear-origin, center);
}

.snap-x-grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: var(--template-columns);
  grid-column-gap: 0.75rem;
  -moz-column-gap: 0.75rem;
  column-gap: 0.75rem;
  padding-left: calc(var(--divide-offset) / 2);
  isolation: isolate;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  overflow: auto hidden;
  overscroll-behavior-x: contain;
}

.snap-x-grid.centered-x-grid,
.centered-x-grid {
  justify-content: center;
}

.snap-x-grid::after {
  content: '';
  width: 100%;
}

.view-all {
  margin-top: 1.5rem;
  justify-self: center;
  border-radius: var(--rounded-lg);
}

.br-xs .view-all,
.br-sm .view-all {
  min-height: 36px !important;
}

.page-title {
  font-size: 1.75rem;
  color: var(--title-c);
  text-align: center;
  font-weight: 700;
  padding: 2rem 1.5rem;
  position: relative;
}

.br-md .page-title {
  font-size: 2.25rem;
  padding: 2rem 1.5rem;
}

.br-lg .page-title {
  font-size: 2.5rem;
  padding: 2.5rem 1.5rem;
}

.br-xl .page-title {
  font-size: 2.75rem;
  padding: 2.75rem 1.5rem;
}

@-webkit-keyframes spinner-border {
  to {
    transform: rotate(1turn) translateZ(0);
  }
}
@keyframes spinner-border {
  to {
    transform: rotate(1turn) translateZ(0);
  }
}

.spinner-border {
  --color: currentColor;
  --size: 2rem;
  --stroke: 2px;
  --duration: 0.45s;
  --direction: initial;
  --color-duration: 1.5s;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  vertical-align: text-bottom;
  opacity: 0.9;
  border-radius: 50%;
  -webkit-animation: spinner-border var(--duration) linear 2000;
  animation: spinner-border var(--duration) linear 2000;
  -webkit-animation-direction: var(--direction);
  animation-direction: var(--direction);
  position: relative;
  isolation: isolate;
}
.spinner-border:after,
.spinner-border:before {
  content: '';
  border-radius: inherit;
  --_size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: border-color var(--color-duration) linear;
}
.spinner-border:before {
  border: var(--stroke) solid var(--color);
  border-top-width: calc(var(--stroke) * 0.5);
  border-right-width: calc(var(--stroke) * 0.25);
  border-bottom-color: transparent;
}
.spinner-border:after {
  border-left: var(--stroke) solid transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top: var(--stroke) solid transparent;
  border-right: var(--stroke) solid var(--color);
  border-bottom: var(--stroke) solid var(--color);
  opacity: 0;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: var(--primary);
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.will-change-transform {
  will-change: transform;
}

.will-change-opacity {
  will-change: opacity;
}

.will-change-transform-opacity {
  will-change: transform, opacity;
}

.will-change-content {
  will-change: content;
}

.__loading-page {
  background: var(--theme-surface);
  z-index: 100;
  display: grid;
  height: calc(100vh - var(--nav-height));
  justify-items: center;
  align-content: center;
  justify-content: center;
  row-gap: var(--qtr-offset);
  color: var(--primary);
}
